.videoRow {
  display: flex;
  margin-bottom: 30px;
  max-width: 700px;
}

.videoRow > img {
  object-fit: contain;
  width: 246px;
  height: 138px;
}

.videoRow__text {
  margin-left: 14px;
}

.videoRow__description {
  margin-top: 10px;
  font-size: 12px;
  color: #606060;
}
.videoRow__channel {
  font-size: 14px;
  font-weight: bolder;
}
.videoRow__headline {
  margin-top: 10px;
  font-size: 12px;
  color: #606060;
}
.videoRow__subs {
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}
.videoRow__subsNumber {
  font-weight: bolder;
  color: rgb(84, 157, 211);
}
